.banner-content {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  padding: 0;
  margin: 0;
}
.inscription {
  padding-left: 100px;
  margin-top: 30px;
}
.inscription .logo {
  display: flex;
  align-items: center;
}
.inscription .logo i {
  font-size: 40px;
  color: rgb(14, 14, 180);
}
.inscription .logo .logo-name {
  font-size: 30px;
  font-weight: 400;
}
.inscription .title {
  font-size: 32px;
  font-weight: 500;
  color: rgb(14, 14, 180);
  line-height: 45px;
  margin-top: 20px;
}
form .type {
  display: flex;
}
form .field.error small {
  color: rgba(255, 0, 0, 0.589);
  padding: 4px 6px;
  border-radius: 5px;
  display: block;

}
.groupInput{
  position: relative;
}
form .groupInput.success input {
  border-color: rgb(14, 14, 180);
}
form .groupInput.success i.fa-check-circle {
  color: rgb(14, 14, 180);
  visibility: visible;
}
form .groupInput.success input#email ~ i.fa-check-circle {
  color: rgb(14, 14, 180);
  visibility: visible;
}
form .groupInput.error input {
  border-color: red;
}
form .groupInput.error i.fa-exclamation-circle {
  color: red;
  visibility: visible;
}
form .groupInput.error input#email ~ i.fa-exclamation-circle {
  color: red;
  visibility: visible;
}
form .groupInput small {
  
  color: red;
  
}